body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #30f4a5;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}



main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    
}


p {
    margin-bottom: 20px;
    line-height: 1.6;
}

